.jumbotron{
	height: 800px;
	/*background: #1b1b1b;*/
	background-image: url("../img/wallpaper.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin: 0px auto;
	padding: 300px 30px;
	color: floralwhite;
}
#headerText{
	/*padding: 120px 300px;*/
	text-align: center;
}
.navbar{
	background: #1b1b1b;
}
.navbar-toggler{
	background: #1b1b1b;
}
#Navbar{
	background: #1b1b1b;
	color: floralwhite
}
/*.navbar-text{
	display: inline-block;
	position: absolute;
  top: 0px;
  right: 15px;
}*/
#card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
#card:hover {
transform: scale(1.1);
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
#body-mid{
	/*background-image: url("../img/body-back.jpg");
	background-size: cover;
	background-attachment: fixed;*/
	background: #2f4f4f;
	color: floralwhite;
	position: relative;
}
.card{
	background: #1b1b1b;
	color: floralwhite;
	align-self: center;
}
.footer{
	background: #918E85;
	color: floralwhite;
	margin: 0px auto;
	padding: 20px 70px;
	position: relative;
	min-height: 50vh;
	flex-direction: auto;
	margin-top: auto;
}
a{
	color: #663271;
}
.fontAwesome{
	font-family: 'Helvetica', FontAwesome, sans-serif;
}
#vision-text{
	padding-top: 100px;
}
h1{
	font-size: 70px;
}
textarea{
	resize: both;
}