<!DOCTYPE html>
<html>
<head>
	    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>Blog</title>
</head>
<body>
	<nav class="navbar navbar-dark  fixed-top">
		
        <div class="container">
			<a class="navbar-brand" href="index.html"><img src="img/logo1.png" class="img-fluid" height="auto" max-width="100%"></a>
			<button class="navbar-toggler navbar-left" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
			<!-- <a class="navbar-brand" href="index.html"><img src="img/logo1.png" height="30" width="60"></a> -->
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="./index.html"><span class="fa fa-home fa-lg"></span> Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="./aboutus.html"><span class="fa fa-info fa-lg"></span> About</a></li>
                        <li class="nav-item"><a class="nav-link" href="./blog.html"><span class="fa fa-list fa-lg"></span> Write Blog</a></li>
						<li class="nav-item"><a class="nav-link" href="./showBlogs.html"><span class="fa fa-list fa-lg"></span> Display Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="./contactus.html"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                </ul>
                <span class="navbar-text">
		            <a class="signup"><span class="fa fa-user-o"></span> Sign up</a>
		                            
		        </span><br>
		        <span class="navbar-text">
		        	<a class="login"><span class="fa fa-sign-in"></span> Login</a>
		        </span>
	            <!-- <span class="navbar-text">
	                <a>
	                    <span class="fa fa-sign-in"></span> Login
	                </a>
	            </span> -->    
            </div>

            <!-- <span class="sign-text">
                <a>
                    <span class="fa fa-sign-in"></span> Sign up
                </a>
            </span> --> 
		</div>
		
	</nav>

	<div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close">
                        &times;
                    </button>
                </div>
				<div class="modal-body">
					<form action="/signin" method="post">
						<div class="form-group col-sm-9">
							<label class="sr-only" for="exampleInputEmail3">Email Address</label>
					        <input type="email" name="email" class="form-control form-control-sm mr-1 fontAwesome" id="exampleInputEmail3" 
					        placeholder="&#xf2bd;  abc@xyz.com">
						</div>
						<div class="form-group col-sm-9">
					        <label class="sr-only" for="exampleInputPassword">Password</label>
					        <input type="password" name="password" class="form-control form-control-sm mr-1 fontAwesome" id="exampleInputPassword" 
					        placeholder="&#xf023;   Password">
					    </div>
					    <div class="col-sm-auto">
					        <div class="form-check">
					            <input class="form-check-input" type="checkbox">
					            <label class="form-check-label"> Remember me</label>
					        </div>
					    </div>
					
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" value="Submit">Login</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="signupModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sign Up</h4>
                    <button type="button" class="close">
                        &times;
                    </button>
                </div>
				<div class="modal-body">
					<form action="/signup" method="post">
						<div class="form-group col-sm-9">
							<label class="sr-only" for="name">Full Name</label>
					        <input type="name" name="fullname" class="form-control form-control-sm mr-1" id="name" 
					        placeholder="Full Name">
						</div>
						<div class="form-group col-sm-9">
							<label class="sr-only" for="uname">Username</label>
					        <input type="name" name="username" class="form-control form-control-sm mr-1" id="uname" 
					        placeholder="Username">
						</div>
						<div class="form-group col-sm-9">
							<label class="sr-only" for="exampleInputEmail3">Email Address</label>
					        <input type="email" name="email" class="form-control form-control-sm mr-1 fontAwesome" id="exampleInputEmail3" 
					        placeholder="&#xf2bd;  abc@xyz.com">
						</div>
						<div class="form-group col-sm-9">
					        <label class="sr-only" for="exampleInputPassword">Password</label>
					        <input type="password" name="password" class="form-control form-control-sm mr-1 fontAwesome" id="Password" 
					        placeholder="&#xf023;   Password">
					    </div>
					    <div class="form-group col-sm-9">
					        <label class="sr-only" for="exampleInputPassword" name="Cpasswords">Confirm Password</label>
					        <input type="password" name="Cpassword" class="form-control form-control-sm mr-1 fontAwesome" onblur="validate()" id="CPassword" 
					        placeholder="&#xf023;   Confirm Password">
					    </div>
					
						<div class="modal-footer">
							<button type="submit" value="Submit" class="btn btn-primary">Sign up</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<header class="jumbotron">
		<div class="container">
			<div class="row row-header">
				<div class="col-12" id="headerText" align="center">
					<h2><strong>Publish Your Passions Your way</strong></h2>
					<h4>Start writing a blog</h4>
					<h4>It's easy and free</h4>
				</div>
			</div>
		</div>
	</header>
	<div id="body-mid">
		<div class="container">
			<div class="row row-content">
				<div class="col-12">
					<h3>Choose Topics</h3>
					<div class="row row-content">
						<div class=" col-lg-6 mb-4 mt-5">
							<div class="card" style="width: 18rem;" id="card">
							  	<img src="../img/education.jpg" alt="Education" class="card-img-top img-fluid">
							  	<div class="card-body">
							    	<!-- <h5 class="card-title">Education</h5> -->
							    	<!-- <p class="card-text">
							      		Some quick example text to build on the card title and make up the bulk of
							      		the card's content.
							    	</p> -->
							    	<a href="./blog.html" class="btn btn-primary">Education</a>
							  	</div>	  	
							</div>
							<div class="card" style="width: 18rem;" id="card">
								<img src="../img/entertainment.jpg" alt="Entertainment" class="card-img-top img-fluid">
								<div class="card-body">
									<a href="./blog.html" class="btn btn-primary">Entertainment</a>
								</div>
							</div>
							<div class="card" style="width: 18rem;" id="card">
								<img src="../img/market.jpg" alt="Marketing" class="card-img-top img-fluid">
								<div class="card-body">
									<a href="./blog.html" class="btn btn-primary">Marketing</a>
								</div>
							</div>
						</div>
						<div class=" col-lg-6 mb-4 mt-5">
							<div class="card" style="width: 18rem;" id="card">
								<img src="../img/bussiness.jpg" alt="Bussiness" class="card-img-top img-fluid">
								<div class="card-body">
									<a href="./blog.html" class="btn btn-primary">Bussiness</a>
								</div>
							</div>
							<div class="card" style="width: 18rem;" id="card">
								<img src="../img/philosophy.jpg" alt="Philosophy" class="card-img-top img-fluid">
								<div class="card-body">
									<a href="./blog.html" class="btn btn-primary">Philosophy</a>
								</div>
							</div>
							<div class="card" style="width: 18rem;" id="card">
								<img src="../img/art.jpg" alt="Art" class="card-img-top img-fluid">
								<div class="card-body">
									<a href="./blog.html" class="btn btn-primary">Art</a>
								</div>
							</div>
						</div>
					</div>
					
				</div>

			</div>
		</div>
	</div>
	<footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">  <!-- this class removes the bullets from list-->
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./aboutus.html">About</a></li>
                        <li><a href="./blog.html">Write Blog</a></li>
                        <li><a href="./contactus.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              Sector 5, Salt Lake<br>
		              Kolkata, West Bengal<br>
		              INDIA<br>
		              <i class="fa fa-phone fa-lg"></i>: +91 1234 5678<br>
		              <i class="fa fa-fax fa-lg"></i>: +91 8765 4321<br>
		              <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:wordblog@blog.net">wordblog@blog.net</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
						<h2>Follow us</h2>
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2015 WordBlog</p>
                </div>
           </div>
        </div>
    </footer>
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/scripts.js"></script>
</body>
</html>