<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet" type="text/css" href="../../css/styles.css">
        <title>Success</title>
    </head>
    <body>
        <nav class="navbar navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="../../index.html"><img src="../../img/logo1.png" class="img-fluid" height="auto" max-width="100%"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" href="../../index.html"><span class="fa fa-home fa-lg"></span> Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../aboutus.html"><span class="fa fa-info fa-lg"></span> About</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../blog.html"><span class="fa fa-list fa-lg"></span> Write Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../showBlogs.html"><span class="fa fa-list fa-lg"></span> Display Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../contactus.html"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
                    </ul>  
                    <span class="navbar-text">
                        <a class="signup"><span class="fa fa-user-o"></span> Sign up</a>
                                        
                    </span><br>
                    <span class="navbar-text">
                        <a class="login"><span class="fa fa-sign-in"></span> Login</a>
                    </span>
                </div>
                <!-- <span class="navbar-text">
                <a class="signup"><span class="fa fa-user-o"></span> Sign up</a>
                <a class="login"><span class="fa fa-sign-in"></span> Login</a>                
            </span> -->
            </div>
        </nav>
        <br><br>
        <div class="container">
            <h1>Success!</h1><br><br>
            <div class="row row-header align-items-center">
                
                <% if (data) { %>
                    <h2><%= data.title %></h2>
                <% } %>
            </div>
            <div class="row row-content">
                <div class="col-12 col-sm-9">
                    <%=data.content%>
                </div>
            </div>
        </div>


	<footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">  <!-- this class removes the bullets from list-->
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./aboutus.html">About</a></li>
                        <li><a href="./blog.html">Write Blog</a></li>
                        <li><a href="./contactus.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
		              Sector 5, Salt Lake<br>
		              Kolkata, West Bengal<br>
		              INDIA<br>
		              <i class="fa fa-phone fa-lg"></i>: +91 1234 5678<br>
		              <i class="fa fa-fax fa-lg"></i>: +91 8765 4321<br>
		              <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:wordblog@blog.net">wordblog@blog.net</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
						<h2>Follow us</h2>
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2015 WordBlog</p>
                </div>
           </div>
        </div>
    </footer>
	
	<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="../../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../scripts/scripts.js"></script>
</body>
</html>